<!DOCTYPE html>
<html lang="en">

<head>
  <% include metadata %>
</head>

<body>
  <section id="container">
  
    <% include header %> 
   
    <% include sidebar %> 
  
    <section id="main-content">
      <section class="wrapper">
        <div class="row mt">
          <div class="col-lg-12 col-md-12 col-sm-12">
            <!--  BASIC PROGRESS BARS -->
            <div class="showback">
              <h3 class="text-center" >Đề tài: <b>ĐIỀU KHIỂN VÀ GIÁM SÁT MÔ HÌNH CHIẾT RÓT QUA INTERNET</b></h3>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p></p>
                <h4 style="padding-left: 50px;">Giới thiệu</h4>
                <p style="padding: 0 70px 20px; text-align: justify;">
                  Tự động hóa là yếu tố không thể thiếu trong một nền công nghiệp hiện đại. Đối với các thiết bị vận hành tự động
                  ở gần con người như trong nhà máy, xí nghiệp, thì chúng ta có thể dễ dàng điều khiển, giám sát, theo dõi hoạt
                  động của thiết bị. Ngược lại, đối với các thiết bị ở xa, rời rạt, không thể có mặt thường xuyên và quản lý tập
                  trung được, do đó chúng ta cần phải có thiết bị, công cụ để có thể theo dõi và điều khiển từ xa.
                </p>
                <p style="padding: 0 70px; text-align: justify;">
                  Xây dựng hệ thống quản lý, theo dõi, giám sát thông qua mạng internet.
                  Nhằm mục tiêu xử lý kịp thời các sự cố, nâng cao hiệu quả sử dụng, tuổi thọ tài sản từ việc quản lý chặt chẽ
                  quá trình vận hành tài sản mạng chiếu sáng mà không cần phải có mặt ở hiện trường.
                  Xây dựng trang web với tính năng quản lý người dùng và tủ điện để tăng cường tính cá nhân và bảo mật an toàn
                  cho thiết bị, tránh truy cập trái phép.
                </p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <h5>Sinh viên thực hiện</h5>
                <p style="padding-left: 20px;"><b>Tên: </b>Lê Quốc Cường</p>
                <p style="padding-left: 20px;"><b>MSSV: </b>1410436</p>
                <p style="padding-left: 20px;"><b>Email: </b>qucuong1996@gmail.com</p>
            </div>           
          </div>
            <!-- /showback -->
          </div>
          <!-- /col-lg-6 -->
        </div>
        <!--/ row -->
      </section>
      <!-- /wrapper -->
    </section>
    <!-- /MAIN CONTENT -->
    <!--main content end-->
    <!--footer start-->
    
    <% include footer %>
    <!--footer end-->
  </section>
  <% include scripts %>
</body>

</html>
