<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cloud SCADA</title>
    <link rel="stylesheet" href="/stylesheets/login.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap/bootstrap.min.css">
</head>
<body>
	
	<div class="login-page">
		<div class="form">
		  <form class="login-form" action="/login" method="POST">
			<input name="email"    type="email"    placeholder="Email adress"/>
			<input name="password" type="password" placeholder="password"/>
			<button type="submit">login</button>
			<p class="message">Not registered? <a href="/register">Create an account</a></p>
		  </form>
		</div>
	  </div>
</body>
</html>