<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="Dashboard">
<meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
<title>Cloud SCADA</title>

<!-- Favicons -->
<link href="/dashboard/img/favicon.png" rel="icon">
<link href="/dashboard/img/apple-touch-icon.png" rel="apple-touch-icon">

<!-- Bootstrap core CSS -->
<link href="/dashboard/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<!--external css-->
<link href="/dashboard/lib/font-awesome/css/font-awesome.css" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="/dashboard/lib/gritter/css/jquery.gritter.css" />
<!-- Custom styles for this template -->
<link href="/dashboard/css/style.css" rel="stylesheet">
<link href="/dashboard/css/style-responsive.css" rel="stylesheet">
<link href="/stylesheets/style.css"   rel="stylesheet">
<!-- <link href="/stylesheets/bootstrap/bootstrap.min.css"   rel="stylesheet"> -->